
<form [formGroup]="updateForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="update-card">
     <mat-card-header>
         <mat-card-title>Manage Customer Details </mat-card-title>
       </mat-card-header>
   <mat-card-content>
   <div class="row center-content">
       <div class="col">
         <mat-form-field class="full-width">
           <input matInput placeholder="firstname" formControlName="firstname">
           <mat-error *ngIf="updateForm.controls['firstname'].hasError('required')">
               firstname is <strong>required</strong>
             </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row center-content ">
       <div class="col">
         <mat-form-field class="full-width">
           <input matInput placeholder="lastName" formControlName="lastName">
           <mat-error *ngIf="updateForm.controls['lastName'].hasError('required')">
               lastName is <strong>required</strong>
             </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row center-content">
       <div class="col">
         <mat-form-field class="full-width">
           <input matInput placeholder="age" formControlName="age">
           <mat-error *ngIf="updateForm.controls['age'].hasError('required')">
               age is <strong>required</strong>
             </mat-error>
        </mat-form-field>
      </div>
    </div>

 </mat-card-content>
 <mat-card-actions>
  <button mat-raised-button color="primary" (click)="update()" type="button" >Update</button>
</mat-card-actions>
<mat-card-actions>
 <button mat-raised-button color="primary" (click)="delete()" type="button" [disabled]="disabled() === 1">Delete</button>
</mat-card-actions>
<mat-card-actions>
  <button mat-raised-button color="primary" type="submit" [disabled]="showBtn() === 0">Save</button>
 </mat-card-actions>
 </mat-card>
 
 </form>
